# Ignore everything
/*

# But not these files...
!.gitignore
!/testRest
/testRest/*
!/testRest/app
/testRest/app/*
!/testRest/app/src
/testRest/app/src/*
!/testRest/app/src/main
/testRest/app/src/main/*
!/testRest/app/src/main/java
/testRest/app/src/main/java/*
!/testRest/app/src/main/java/com
/testRest/app/src/main/java/com/*
!/testRest/app/src/main/java/com/example
/testRest/app/src/main/java/com/example/*
!/testRest/app/src/main/java/com/example/testrest


!/testRest/app/src/main/res
/testRest/app/src/main/res/*
!/testRest/app/src/main/res/layout

!/documents

!/ecommerce_navigation
/ecommerce_navigation/*
!/ecommerce_navigation/app
/ecommerce_navigation/app/*
!/ecommerce_navigation/app/src
/ecommerce_navigation/app/src/*
!/ecommerce_navigation/app/src/main
/ecommerce_navigation/app/src/main/*
!/ecommerce_navigation/app/src/main/java
/ecommerce_navigation/app/src/main/java/*
!/ecommerce_navigation/app/src/main/java/com
/ecommerce_navigation/app/src/main/java/com/*
!/ecommerce_navigation/app/src/main/java/com/example
/ecommerce_navigation/app/src/main/java/com/example/*
!/ecommerce_navigation/app/src/main/java/com/example/e_commerce_navigation

!/ecommerce_navigation/app/src/main/res
/ecommerce_navigation/app/src/main/res/*
!/ecommerce_navigation/app/src/main/res/layout

!/ECommerceAPI
/ECommerceAPI/*
!/ECommerceAPI/ECommerceAPI
/ECommerceAPI/ECommerceAPI/*
!/ECommerceAPI/ECommerceAPI/Controllers
!/ECommerceAPI/ECommerceAPI/Models